body {
  background: url("~@/assets/img/background-header.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2218px 138px;
  background-attachment: scroll;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  height: 28px;
  margin: 61px 30px;
  padding: 0px 0px 0px 25px;
  background: #F5D700;
  a {
    font-weight: bold;
    color: #2c3e50;
    font-size: 19px;
    &.router-link-exact-active {
      color: black;
    }
  }
}
